In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder,LabelEncoder
import pickle
import numpy as np

In [2]:
data= pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
## Preprocess the data
## Drop irrelevant columns

data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [4]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [5]:
## One Hot Encoding for Geography column
from sklearn.preprocessing import OneHotEncoder
OneHotEncoder = OneHotEncoder()
geography_encoded = OneHotEncoder.fit_transform(data[['Geography']])
geography_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [6]:
geography_encoded.toarray() ## Convert to array

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [7]:
geograpy_encoded_df=pd.DataFrame(geography_encoded.toarray(),columns=OneHotEncoder.get_feature_names_out(['Geography']))

In [8]:
geograpy_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
## combine the encoded columns with the original dataframe
data = pd.concat([data.drop('Geography',axis=1), geograpy_encoded_df], axis=1)

In [10]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [11]:
## Divide the dataset into independent and dependent features

x = data.drop(['EstimatedSalary'], axis=1)
y = data['EstimatedSalary']

## Split the dataset into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [12]:
## save the encoder for future use

with open('label_encoder_gender.pkl', 'wb') as f:
    pickle.dump(label_encoder_gender, f)
with open('geography_encoder.pkl', 'wb') as f:
    pickle.dump(OneHotEncoder, f)

In [13]:
## Scale the features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [14]:
## save the scaler for future use
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

In [15]:
## ANN Regression Problem statement
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
## Build our ANN model
model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)), ## 1st hidden layer with input layer
    Dense(32, activation='relu'), ## 2nd hidden layer
    Dense(1), ## output layer
]
)

In [19]:
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
## compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

In [21]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
from datetime import datetime

log_dir = "regressionlogs/fit/" + datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [22]:
## setting up early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [23]:
## Training the model

history = model.fit(x_train, y_train,
                     epochs=100,  
                     validation_data=(x_test,y_test), 
                     callbacks=[tensorboard_callback, early_stopping])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.0000e+00 - loss: 99857.0781 - val_accuracy: 0.0000e+00 - val_loss: 98515.0000
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 100344.6641 - val_accuracy: 0.0000e+00 - val_loss: 97013.3438
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 97306.9844 - val_accuracy: 0.0000e+00 - val_loss: 93211.9062
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 93638.6797 - val_accuracy: 0.0000e+00 - val_loss: 86890.5156
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 86554.2578 - val_accuracy: 0.0000e+00 - val_loss: 78666.8047
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 77689.6406 - val_accuracy: 0.0000e+00 - val_loss: 70005.3203
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 69722.8906 - val_accuracy: 0.0000e+00 - val_loss: 62130.4805
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 61632.4648 - val_accuracy: 0.0000e+00 - val_loss: 56450.5234
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 55423.1797 - val_accuracy: 0.0000e+00 - val_loss: 53138.5742
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 52981.5078 - val_accuracy: 0.0000e+00 - val_loss: 51673.4727
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 51756.7773 - val_accuracy: 0.0000e+00 - val_loss: 51223.8359
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 50778.9922 - val_accuracy: 0.0000e+00 - val_loss: 51052.9648
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 50438.6758 - val_accuracy: 0.0000e+00 - val_loss: 50976.9258
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49550.3359 - val_accuracy: 0.0000e+00 - val_loss: 50920.8555
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 50445.9453 - val_accuracy: 0.0000e+00 - val_loss: 50864.9062
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49913.5898 - val_accuracy: 0.0000e+00 - val_loss: 50811.1641
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 50259.0117 - val_accuracy: 0.0000e+00 - val_loss: 50772.4844
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49911.6484 - val_accuracy: 0.0000e+00 - val_loss: 50725.6250
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49706.9805 - val_accuracy: 0.0000e+00 - val_loss: 50692.0547
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49831.6992 - val_accuracy: 0.0000e+00 - val_loss: 50659.7148
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 50343.8828 - val_accuracy: 0.0000e+00 - val_loss: 50627.0430
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49938.5273 - val_accuracy: 0.0000e+00 - val_loss: 50596.5586
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 50117.8789 - val_accuracy: 0.0000e+00 - val_loss: 50564.5117
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49464.8828 - val_accuracy: 0.0000e+00 - val_loss: 50540.2617
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49330.7266 - val_accuracy: 0.0000e+00 - val_loss: 50514.2422
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49876.2266 - val_accuracy: 0.0000e+00 - val_loss: 50487.4258
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49881.7305 - val_accuracy: 0.0000e+00 - val_loss: 50475.9727
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49667.7773 - val_accuracy: 0.0000e+00 - val_loss: 50467.5117
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49540.5195 - val_accuracy: 0.0000e+00 - val_loss: 50449.8125
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49704.1602 - val_accuracy: 0.0000e+00 - val_loss: 50427.6523
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49447.6328 - val_accuracy: 0.0000e+00 - val_loss: 50422.0781
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49493.0000 - val_accuracy: 0.0000e+00 - val_loss: 50407.6484
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 50102.2188 - val_accuracy: 0.0000e+00 - val_loss: 50414.5039
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49874.0391 - val_accuracy: 0.0000e+00 - val_loss: 50406.1914
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49707.9297 - val_accuracy: 0.0000e+00 - val_loss: 50402.9375
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49850.0078 - val_accuracy: 0.0000e+00 - val_loss: 50395.3125
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.0000e+00 - loss: 49293.9922 - val_accuracy: 0.0000e+00 - val_loss: 50393.7852
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 50176.1289 - val_accuracy: 0.0000e+00 - val_loss: 50386.3008
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.0000e+00 - loss: 49861.7305 - val_accuracy: 0.0000e+00 - val_loss: 50380.2227
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.0000e+00 - loss: 49002.4297 - val_accuracy: 0.0000e+00 - val_loss: 50369.9609
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49579.9609 - val_accuracy: 0.0000e+00 - val_loss: 50359.4844
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49504.6797 - val_accuracy: 0.0000e+00 - val_loss: 50356.3203
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49578.6758 - val_accuracy: 0.0000e+00 - val_loss: 50373.8594
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49499.9922 - val_accuracy: 0.0000e+00 - val_loss: 50342.5312
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 48919.1562 - val_accuracy: 0.0000e+00 - val_loss: 50351.3789
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49671.4297 - val_accuracy: 0.0000e+00 - val_loss: 50353.7891
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.0000e+00 - loss: 49564.8047 - val_accuracy: 0.0000e+00 - val_loss: 50360.2344
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49556.2695 - val_accuracy: 0.0000e+00 - val_loss: 50353.3203
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49478.9766 - val_accuracy: 0.0000e+00 - val_loss: 50353.5234
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49675.2188 - val_accuracy: 0.0000e+00 - val_loss: 50360.7070
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.0000e+00 - loss: 49310.9258 - val_accuracy: 0.0000e+00 - val_loss: 50361.5977
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49380.4883 - val_accuracy: 0.0000e+00 - val_loss: 50356.4648
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49258.9258 - val_accuracy: 0.0000e+00 - val_loss: 50362.9688
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 49385.3164 - val_accuracy: 0.0000e+00 - val_loss: 50357.4141

In [ ]:
%load_ext tensorboard

In [ ]:
%tensorboard --logdir regressionlogs/fit